@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf");
}

.title__section {
  font-size: min(5.20833vw, 9.25926vh);
  color: #ffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: min(5.20833vw, 9.25926vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.title__section::after {
  content: "";
  position: absolute;
  bottom: -1.77778vh;
  width: 18.22917vw;
  background: linear-gradient(90deg, #6366f1 0%, #8b5cf6 100%);
  height: 0.2vw;
}
